{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <h3>{{ topics[0].name }}</h3>
        {% for link in links1 %}
            <a href="{{ link.url }}" class="link-button">{{ link.name }}</a><br>
        {% endfor %}
    </div>
    <div>
        <h3>{{ topics[1].name }}</h3>
        {% for link in links2 %}
            <a href="{{ link.url }}" class="link-button">{{ link.name }}</a><br>
        {% endfor %}
    </div>
    <div>
        <h3>{{ topics[2].name }}</h3>
        {% for link in links3 %}
            <a href="{{ link.url }}" class="link-button">{{ link.name }}</a><br>
        {% endfor %}
    </div>
    <div>
        <h3>{{ topics[3].name }}</h3>
        {% for link in links4 %}
            <a href="{{ link.url }}" class="link-button">{{ link.name }}</a><br>
        {% endfor %}
    </div>
{% endblock %}

