{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Inserir Jogador{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <label for="player_name">Nome do Jogador</label>
        <input type="text" name="player_name" id="player_name" required>

        <label for="birth_date">Data de Nascimento</label>
        <input type="date" name="birth_date" id="birth_date" required>

        <label for="nationality">Nacionalidade</label>
        <input type="text" name="nationality" id="nationality" required>

        <label for="position">Posição</label>
        <input type="text" name="position" id="position" required>

        <label for="shirt_number">Número</label>
        <input type="shirt_number" name="shirt_number" id="shirt_number" required>

        <label for="team_name">Time</label>
        <select name="team_name" id="team_name" required>
            {% for team in teams %}
                <option value="{{ team['name'] }}">{{ team['name'] }}</option>
            {% endfor %}
        </select>

        <label for="photo">Foto</label>
        <input type="file" name="photo" id="photo" required>

        <input type="submit" value="Register">
    </form>

{% endblock %}
