{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Inserir Evento{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">

        <label for="match_id">Partida</label>
        <select name="match_id" id="match_id" required
                hx-get="{{ url_for('insert.get_teams_for_match') }}"
                hx-target="#player_team"
                hx-trigger="change"
                hx-include="[name='match_id']">
            {% for match in matches %}
                <option value="{{ match['id'] }}">{{ match['id'] }}</option>
            {% endfor %}
        </select>

        <label for="date_hour">Data e Hora</label>
        <input name="date_hour" id="date_hour" type="datetime-local" required>

        <label for="player_number">Número do Jogador</label>
        <select name="player_number" id="player_number" required>
            {% for player in initial_players %}
                <option value="{{ player['player_number'] }}">{{ player['player_number'] }} - {{ player['name'] }}</option>
            {% endfor %}
        </select>

        <label for="player_team">Time do Jogador</label>
        <select name="player_team" id="player_team" required
                hx-get="{{ url_for('insert.get_players_for_team') }}"
                hx-target="#player_number"
                hx-trigger="change"
                hx-include="[name='player_team'],[name='match_id']">
            {% for team in initial_teams %}
                <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select>

        <label for="event_type">Tipo do Evento</label>
        <select name="event_type" id="event_type" required>
            {% for etype in event_types %}
                <option value="{{ etype }}">{{ etype }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Registrar">
    </form>
{% endblock %}