{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Jogadores Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if players %}
        {% for player in players %}
            <li>{{  player['name'], 
                    player['date_of_birth'], 
                    player['nationality'], 
                    player['photo'],
                    player['goals'],
                    player['position'],
                    player['shirt_number'],
                    player['fouls'],
                    player['yellow_cards'],
                    player['red_cards'],
                    player['name']
            }}</li>
        {% endfor %}
    {% else %}
        <p>Nenhum player cadastrado</p>
    {% endif %}
{% endblock %}