{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Usuarios Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if users %}
        <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
        </tr>
        {% for user in users %}
            <tr>
            {% for value in user %}
                <td>{{value}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Nenhum usuario cadastrado</p>
    {% endif %}
{% endblock %}
