{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Usuarios Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if users %}
        <ul>
        {% for user in users %}
            <li>
                <strong>Nome:</strong> {{ user['name'] }}<br>
                <strong>Email:</strong> {{ user['email'] }}<br>
                <strong>Tipo de Usuário:</strong> {{ user['user_type'] }}
            </li>
            <hr>
        {% endfor %}
        <ul>
    {% else %}
        <p>Nenhum usuario cadastrado</p>
    {% endif %}
{% endblock %}