{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Eventos Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if events %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID da Partida</th>
                    <th>Data e Hora</th>
                    <th>Número do Jogador</th>
                    <th>Time do Jogador</th>
                    <th>Tipo de Evento</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event['id'] }}</td>
                        <td>{{ event['match_id'] }}</td>
                        <td>{{ event['date_hour'].strftime('%d/%m/%Y %H:%M') if event['date_hour'] else '' }}</td>
                        <td>{{ event['player_number'] }}</td>
                        <td>{{ event['player_team'] }}</td>
                        <td>{{ event['event_type'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum evento cadastrado</p>
    {% endif %}
{% endblock %}