{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Partidas Cadastradas{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if matches %}
        {% for match in matches %}
            <li>{{  match['id'], 
                    match['date_hour'].strftime('%d/%m/%Y %H:%M'), 
                    match['location'], 
                    match['home_team'],
                    match['visitor_team'],
                    match['home_goals'],
                    match['visitor_goals']
            }}</li>
        {% endfor %}
    {% else %}
        <p>Nenhuma match cadastrada</p>
    {% endif %}
{% endblock %}