{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Usuários Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if users %}
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.user_type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum usuário cadastrado</p>
    {% endif %}
{% endblock %}