{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Times Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if teams %}
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Emblema</th>
                    <th>Partidas</th>
                    <th>Vitórias</th>
                    <th>Empates</th>
                    <th>Derrotas</th>
                    <th>Pontos</th>
                    <th>Gols pró</th>
                    <th>Gols Sofridos</th>
                    <th>Faltas</th>
                    <th>Cartões Amarelos</th>
                    <th>Cartões Vermelhos</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team['name'] }}</td>
                        <td>{{ team['emblem'] }}</td>
                        <td>{{ team['match_total'] }}</td>
                        <td>{{ team['wins'] }}</td>
                        <td>{{ team['draws'] }}</td>
                        <td>{{ team['losses'] }}</td>
                        <td>{{ team['points_total'] }}</td>
                        <td>{{ team['own_goals'] }}</td>
                        <td>{{ team['against_goals'] }}</td>
                        <td>{{ team['fouls'] }}</td>
                        <td>{{ team['yellow_cards'] }}</td>
                        <td>{{ team['red_cards'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum time cadastrado</p>
    {% endif %}
{% endblock %}