{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Partidas Cadastradas{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if matches %}
        <ul>
        {% for match in matches %}
            <li>
                <strong>ID:</strong> {{ match['id'] }}<br>
                <strong>Data e Hora:</strong> {{ match['date_hour'].strftime('%d/%m/%Y %H:%M') if match['date_hour'] else '' }}<br>
                <strong>Local:</strong> {{ match['location'] }}<br>
                <strong>Time da Casa:</strong> {{ match['home_team'] }} |
                <strong>Gols:</strong> {{ match['home_goals'] }}<br>
                <strong>Time Visitante:</strong> {{ match['visitor_team'] }} |
                <strong>Gols:</strong> {{ match['visitor_goals'] }}
            </li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma match cadastrada</p>
    {% endif %}
{% endblock %}