{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Jogadores Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if players %}
        <ul>
        {% for player in players %}
            <li>
                <strong>Nome:</strong> {{ player['name'] }} |
                <strong>Número:</strong> {{ player['shirt_number'] }} |
                <strong>Posição:</strong> {{ player['position'] }}
                <strong>Nome do time:</strong> {{ player['team_name'] }}
                <br>
                <strong>Data de Nascimento:</strong> {{ player['date_of_birth'] }} |
                <strong>Nacionalidade:</strong> {{ player['nationality'] }}
                <br>
                <strong>Gols:</strong> {{ player['goals'] }} |
                <strong>Faltas:</strong> {{ player['fouls'] }}
                <br>
                <strong>Cartões Amarelos:</strong> {{ player['yellow_cards'] }} |
                <strong>Cartões Vermelhos:</strong> {{ player['red_cards'] }}
                <br>
                <strong>Foto:</strong> {{ player['photo'] }}
            </li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum player cadastrado</p>
    {% endif %}
{% endblock %}