{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Tecnicos Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if coaches %}
        {% for coach in coaches %}
            <li>{{  coach['name'], 
                    coach['date_of_birth'], 
                    coach['nationality'], 
                    coach['photo'],
                    coach['name']
            }}</li>
        {% endfor %}
    {% else %}
        <p>Nenhum coach cadastrado</p>
    {% endif %}
{% endblock %}