{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Partidas Cadastradas{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if matches %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data e Hora</th>
                    <th>Local</th>
                    <th>Time da Casa</th>
                    <th>Gols da Casa</th>
                    <th>Time Visitante</th>
                    <th>Gols Visitante</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                    <tr>
                        <td>{{ match['id'] }}</td>
                        <td>{{ match['date_hour'].strftime('%d/%m/%Y %H:%M') if match['date_hour'] else '' }}</td>
                        <td>{{ match['location'] }}</td>
                        <td>{{ match['home_team'] }}</td>
                        <td>{{ match['home_goals'] }}</td>
                        <td>{{ match['visitor_team'] }}</td>
                        <td>{{ match['visitor_goals'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhuma partida cadastrada</p>
    {% endif %}
{% endblock %}