{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Eventos Cadastrados{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if events %}
        <ul>
        {% for event in events %}
            <li>{{  event['id'],
                    event['id'],
                    event['date_hour'].strftime('%d/%m/%Y %H:%M'),
                    event['player_number'],
                    event['player_team'],
                    event['event_type']
            }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum event cadastrado</p>
    {% endif %}
{% endblock %}
