{% extends 'base.html' %}

{% block header %}
  <h1>Consulta de Eventos</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="event_type">Tipo de Evento:</label>
    <input type="text" name="event_type" id="event_type" placeholder="Ex: Gol, Falta, Cartão...">
    
    <label for="player_name">Nome do Jogador:</label>
    <input type="text" name="player_name" id="player_name" placeholder="Digite o nome do player...">
    
    <label for="match_id">ID da Partida:</label>
    <input type="shirt_number" name="match_id" id="match_id" placeholder="Digite o ID da match...">
    
    <button type="submit">Buscar</button>
  </form>

  {% if events %}
  <h2>Eventos encontrados:</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>ID da Partida</th>
        <th>Tipo de Evento</th>
        <th>Nome do Jogador</th>
        <th>Time do Jogador</th>
        <th>Data e Hora</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event['id'] }}</td>
          <td>{{ event['match_id'] }}</td>
          <td>{{ event['event_type'] }}</td>
          <td>{{ event['player_name'] }}</td>
          <td>{{ event['player_team'] }}</td>
          <td>{{ event['date_hour'].strftime('%d/%m/%Y %H:%M') if event['date_hour'] else '' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Nenhum evento encontrado.</p>
{% endif %}
{% endblock %}