{% extends 'base.html' %}

{% block header %}
  <h1>Consulta de Times</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="team_name">Nome do Time:</label>
    <input type="text" name="team_name" id="team_name" placeholder="Digite o nome...">
    <button type="submit">Buscar</button>
  </form>

  {% if teams %}
    <h2>Times encontrados:</h2>
    <ul>
      {% for team in teams %}
        <li>
          <strong>{{ team['name'] }}</strong><br>
          Total Partidas: {{ team['match_total'] }} |
          Pontos: {{ team['points_total'] }} |
          Faltas: {{ team['fouls'] }}<br>
          Cartões Amarelos: {{ team['yellow_cards'] }} |
          Cartões Vermelhos: {{ team['red_cards'] }}<br>
          Vitórias: {{ team['wins'] }} |
          Empates: {{ team['draws'] }} |
          Derrotas: {{ team['losses'] }}<br>
          Gols Pró: {{ team['own_goals'] }} |
          Gols Contra: {{ team['against_goals'] }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhum time encontrado.</p>
  {% endif %}
{% endblock %}
