{% extends 'base.html' %}

{% block header %}
  <h1>Consulta de Jogadores</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="player_name">Nome do Jogador:</label>
    <input type="text" name="player_name" id="player_name" placeholder="Ex: Neymar">

    <label for="shirt_number">Número:</label>
    <input type="shirt_number" name="shirt_number" id="shirt_number" placeholder="Ex: 10">

    <label for="team_name">Time:</label>
    <input type="text" name="team_name" id="team_name" placeholder="Ex: Brasil FC">

    <button type="submit">Buscar</button>
  </form>

  {% if players %}
    <h2>Jogadores encontrados:</h2>
    <ul>
      {% for player in players %}
        <li>
          <strong>{{ player['name'] }}</strong><br>
          Nº {{ player['shirt_number'] }} | {{ player['position'] }}<br>
          Time: {{ player['team_name'] }}<br>
          Nascimento: {{ player['date_of_birth'].strftime('%d/%m/%Y') }}<br>
          Nacionalidade: {{ player['nationality'] }}<br>
          Gols: {{ player['goals'] }} | Faltas: {{ player['fouls'] }}<br>
          Amarelos: {{ player['yellow_cards'] }} | Vermelhos: {{ player['red_cards'] }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhum player encontrado.</p>
  {% endif %}
{% endblock %}
