{% extends 'base.html' %}

{% block header %}
  <h1>Consulta de Partidas</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="location">Local da Partida:</label>
    <input type="text" name="location" id="location" placeholder="Ex: Maracanã">

    <label for="team1">Time 1:</label>
    <input type="text" name="team1" id="team1" placeholder="Ex: Flamengo">

    <label for="team2">Time 2:</label>
    <input type="text" name="team2" id="team2" placeholder="Ex: Vasco">

    <button type="submit">Buscar</button>
  </form>

  {% if matches %}
    <h2>Partidas Encontradas:</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Time da Casa</th>
          <th>Gols da Casa</th>
          <th>Time Visitante</th>
          <th>Gols Visitante</th>
          <th>Local</th>
          <th>Data e Hora</th>
        </tr>
      </thead>
      <tbody>
        {% for match in matches %}
          <tr>
            <td>{{ match['id'] }}</td>
            <td>{{ match['home_team'] }}</td>
            <td>{{ match['home_goals'] }}</td>
            <td>{{ match['visitor_team'] }}</td>
            <td>{{ match['visitor_goals'] }}</td>
            <td>{{ match['location'] }}</td>
            <td>{{ match['date_hour'].strftime('%d/%m/%Y %H:%M') if match['date_hour'] else '' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nenhuma partida encontrada.</p>
  {% endif %}
{% endblock %}